<div class="container mt-4">
    <h2>Group List</h2>
    <a class="btn btn-primary m-3" href="/admin/addgroup">Add Group</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Number</th>
                <th scope="col">Zone</th>
                <th scope="col">Qr Image</th>
                <th scope="col">Action</th>
                <th scope="col">Download QR</th> <!-- Added column for download -->

            </tr>
        </thead>
        <tbody>
            <!-- Example Row -->
            <tr *ngFor="let i of listGroup">
                <td>{{i.name}}</td>
                <td>{{i.numero}}</td>
                <td>{{i.zone.name}}</td>
                <td>
                    <img src="{{i.qrPhoto}}" alt="Qr Image" width="100" height="100">
                <td>
                    <button class="btn btn-primary m-2" [routerLink]="['/admin', 'groups', i._id]">Edit</button>
                    <button class="btn btn-danger m-2" (click)="deleteGroup(i._id)">Delete</button>
                </td>
                <td>
                    <!-- Download Link -->
                    <a href="{{ i.qrPhoto }}" download="{{ i.name }}-QR.png" class="btn btn-success m-2">Download</a>
                </td>
            </tr>
            <!-- More rows can be dynamically added here -->
        </tbody>
    </table>
</div>