<!-- groupe.component.html -->

<div class="container mt-4">
    <h2 class="mb-3">Group List</h2>
    <a class="btn btn-primary mb-3" href="/admin/addgroup">Add Group</a>
    <input type="text" class="form-control mb-3" placeholder="Search" [(ngModel)]="searchText">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Number</th>
                    <th scope="col">Zone</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let group of listGroup | filter:searchText">
                    <td>{{ group.name }}</td>
                    <td>{{ group.numero }}</td>
                    <td><p *ngFor="let i of group.zones">{{i.name}}</p></td>
                   
                    <td>
                        <button class="btn btn-primary m-1" [routerLink]="['/admin', 'groups', group._id]">Edit</button>
                        <button class="btn btn-danger m-1" (click)="deleteGroup(group._id)">Delete</button>
                    </td>
                  
                </tr>
            </tbody>
        </table>
    </div>
</div>
