<div class="container mt-4">
  <h2 class="mb-3">Scanner</h2>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Scan code here"
      [(ngModel)]="scanData"
    />
  </div>
  <!-- Buttons for additional functionalities -->
  <a class="btn btn-primary m-3" href="/admin/addScanner">Add Scanner</a>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Reference</th>
          <th>Name</th>
          <th>MAC Address</th>
          <th>From</th>
          <th>To</th>
          <th>User</th>
            
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let scanner of scanner | filter : scanData">
          <td>{{ scanner.reference }}</td>
          <td>{{ scanner.name }}</td>

          <td>{{ scanner.adressMac }}</td>
          <td>{{ scanner.from }}</td>
          <td>{{ scanner.to }}</td>

          <td>{{ scanner.user.username }}</td>
         
          <td>
            <button class="btn btn-danger" (click)="deleteScanner(scanner._id)">
              Delete
            </button>
            <button
              class="btn btn-warning"
              [routerLink]="['/admin', 'scanners', scanner._id]"
            >
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
