<h3 class="text-center mt-5 text-italic">Edit Group {{ name }}</h3>
<div class="card shadow container p-3 mt-5">
  <form #editGroupForm="ngForm" (ngSubmit)="Edit()">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="name"
        name="name"
        required
        #nameField="ngModel"
      />
      <div *ngIf="nameField.touched && nameField.invalid" class="text-danger">
        Name is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="numero" class="form-label">Numero</label>
      <input
        type="text"
        class="form-control"
        id="numero"
        [(ngModel)]="numero"
        name="numero"
        required
        #numeroField="ngModel"
      />
      <div
        *ngIf="numeroField.touched && numeroField.invalid"
        class="text-danger"
      >
        Numero is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="filiere" class="form-label">Zone</label>
      <select
        [(ngModel)]="selectedZone"
        class="form-control"
        name="selectedZone"
        required
        #zoneField="ngModel"
        multiple="multiple"
      >
        <option value="" disabled selected>Select Zone</option>
        <option *ngFor="let filiere of zone" [value]="filiere._id">
          {{ filiere.name }}
        </option>
      </select>
      <div *ngIf="zoneField.touched && zoneField.invalid" class="text-danger">
        Zone is required.
      </div>
    </div>

    <button
      type="submit"
      [disabled]="editGroupForm.invalid"
      class="btn btn-primary"
    >
      Submit
    </button>
  </form>
</div>
