<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="#" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="https://i.ibb.co/h8t5Kc1/DALL-E-2024-06-09-18-10-22-A-funny-2-D-robot-with-a-whimsical-and-humorous-design.png" alt="Logo">
        </div>
      </a>
      <a href="#" class="simple-text logo-normal">
        My Project
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li>
          <a routerLink="/admin/groups">
            <i class="nc-icon nc-bank"></i>
            <p>Groups</p>
          </a>
        </li>
        <li>
          <a routerLink="/admin/zones">
            <i class="nc-icon nc-diamond"></i>
            <p>Zones</p>
          </a>
        </li>
        <li>
          <a routerLink="/admin/scanners">
            <i class="nc-icon nc-pin-3"></i>
            <p>Scanners</p>
          </a>
        </li>
        <li>
          <a routerLink="/admin/users">
            <i class="nc-icon nc-single-02"></i>
            <p>Users</p>
          </a>
        </li>
        <li>
          <a routerLink="/admin/bobines">
            <i class="nc-icon nc-tile-56"></i>
            <p>Bobines</p>
          </a>
        </li>
        <li>
          <a routerLink="/admin/Machines">
            <i class="nc-icon nc-settings-gear-65"></i>
            <p>Machines</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
