<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      
      <a href="#" class="simple-text logo-normal">CoilTrack</a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li>
          <a routerLink="/admin/groups">
            <i class="nc-icon nc-bank"></i>
            <p>Groups</p>
          </a>
        </li>
        <li>
          <a routerLink="/admin/zones">
            <i class="nc-icon nc-diamond"></i>
            <p>Zones</p>
          </a>
        </li>
        <li>
          <a routerLink="/admin/scanners">
            <i class="nc-icon nc-pin-3"></i>
            <p>Scanners</p>
          </a>
        </li>
        <li>
          <a routerLink="/admin/users">
            <i class="nc-icon nc-single-02"></i>
            <p>Users</p>
          </a>
        </li>
        <li>
          <a routerLink="/admin/bobines">
            <i class="nc-icon nc-tile-56"></i>
            <p>Bobines</p>
          </a>
        </li>
        <li>
          <a routerLink="/admin/machines">
            <i class="nc-icon nc-settings-gear-65"></i>
            <p>Machines</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>