<h3 class="text-center mt-5 text-italic">Edit Zone {{name}}</h3>
<div class="card shadow container p-3 mt-5">
    <form #editZoneForm="ngForm" (ngSubmit)="updateZone()">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" required #nameField="ngModel">
            <div *ngIf="nameField.touched && nameField.invalid" class="text-danger">
                Name is required.
            </div>
        </div>
    
        <div class="mb-3">
            <label for="numero" class="form-label">Numero position</label>
            <input type="text" class="form-control" id="numero" [(ngModel)]="numeroP" name="numero" required #numeroField="ngModel">
            <div *ngIf="numeroField.touched && numeroField.invalid" class="text-danger">
                Numero position is required.
            </div>
        </div>
    
        <button type="submit" [disabled]="editZoneForm.invalid" class="btn btn-primary">Submit</button>
    </form>
</div>
