<h3 class="text-center mt-5 text-italic">Add Scanner</h3>
<div class="card shadow container p-3 mt-5">
  <form (ngSubmit)="updateScanners()" class="p-3" #appareilForm="ngForm">
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        class="form-control"
        [(ngModel)]="appareil.name"
        name="name"
        required
        #name="ngModel"
      />
      <div
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="alert alert-danger"
      >
        Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="reference">Reference:</label>
      <input
        type="text"
        id="reference"
        class="form-control"
        [(ngModel)]="appareil.reference"
        name="reference"
        required
        #reference="ngModel"
      />
      <div
        *ngIf="reference.invalid && (reference.dirty || reference.touched)"
        class="alert alert-danger"
      >
        Reference is required.
      </div>
    </div>

    <div class="form-group">
      <label for="adressMac">MAC Address:</label>
      <input
        type="text"
        id="adressMac"
        class="form-control"
        [(ngModel)]="appareil.adressMac"
        name="adressMac"
        required
        #adressMac="ngModel"
      />
      <div
        *ngIf="adressMac.invalid && (adressMac.dirty || adressMac.touched)"
        class="alert alert-danger"
      >
        MAC Address is required.
      </div>
    </div>

    <div class="form-group">
      <label for="from">From:</label>
      <input
        type="datetime-local"
        id="from"
        class="form-control"
        [(ngModel)]="appareil.from"
        name="from"
        required
        #from="ngModel"
      />
      <div
        *ngIf="from.invalid && (from.dirty || from.touched)"
        class="alert alert-danger"
      >
        Start date and time are required.
      </div>
    </div>

    <div class="form-group">
      <label for="to">To:</label>
      <input
        type="datetime-local"
        id="to"
        class="form-control"
        [(ngModel)]="appareil.to"
        name="to"
        required
        #to="ngModel"
      />
      <div
        *ngIf="to.invalid && (to.dirty || to.touched)"
        class="alert alert-danger"
      >
        End date and time are required.
      </div>
    </div>

    <div class="form-group">
      <label>Users</label>
      <select
        class="form-control"
        [(ngModel)]="appareil.user"
        name="user"
        required
        #user="ngModel"
      >
        <option value="" disabled selected>Select User</option>
        <option *ngFor="let user of newUsers" [ngValue]="user._id">
          {{ user.username }}
        </option>
      </select>
    </div>

    

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="appareilForm.invalid"
    >
      Update Scanner
    </button>
  </form>
</div>
